<template>
    <div class="container" id="todoList">
        <div class="row d-flex justify-content-center py-4">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div id="header">
                    <h1 class="text-center">Todo List</h1>
                    <hr />
                    <input type="text" 
                           placeholder="Add new todo"
                           class="form-control"
                           v-model="todo.content"
                           @keyup.enter="addTodo" />
                    <hr />
                    <h5 class="mb-3">Filter</h5>
                    <div class="form-check form-check-inline">
                        <input type="radio" 
                               id="semua"
                               class="form-check-input"
                               value="semua"
                               v-model="filter"/>
                        <label class="form-check-label" for="semua">Semua</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" 
                               id="selesai"
                               class="form-check-input"
                               v-bind:value="true"
                               v-model="filter"/>
                        <label class="form-check-label" for="selesai">Selesai</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" 
                               id="belumSelesai"
                               class="form-check-input"
                               v-bind:value="false"
                               v-model="filter" />
                        <label for="belumSelesai" class="form-check-label">Belum Selesai</label>
                    </div>
                    <hr />
                </div>
                <div id="todos">
                    <ul class="list-group">
                        <TodoItems 
                            v-for="(todo,index) in filtered"
                            v-on:toggleTodo="toggleTodo"
                            v-on:deleteTodo="deleteTodo"
                            v-bind:key="index"
                            v-bind:item="todo"></TodoItems>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import TodoItems from './TodoItems';

    export default {
        name: 'TodoList',
        components: {
            TodoItems
        },
        data: function() {
            return {
                todos: [
                    {
                        content: 'Todo 1',
                        done: true,
                    },
                    {
                        content: 'Todo 2',
                        done: false,
                    },
                    {
                        content: 'Todo 3',
                        done: false,
                    },
                ],
                todo: {
                    content: '',
                    done: false,
                },
                filter: 'semua',
            }
        },
        methods: {
            toggleTodo(todo) {
                let index = this.todos.indexOf(todo);
                this.todos[index].done = !this.todos[index].done;
            },
            deleteTodo(todo) {
                let index = this.todos.indexOf(todo);
                this.todos.splice(index, 1);
            },
            addTodo() {
                this.todos.push(this.todo);
                this.todo = '';
            }
        },
        computed: {
            filtered() {
                if(this.filter == 'semua') {
                    return this.todos;
                } else {
                    return this.todos.filter(d => d.done == this.filter);
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "~bootstrap/scss/bootstrap.scss"
</style>