<template>
    <li class="list-group-item d-flex align-items-center justify-content-between"
        v-bind:style="isDone">
        {{ item.content }}
        <div id="buttons">
            <button class="btn btn-primary mr-3"
                    v-if="!item.done"
                    @click="toggleTodo">&check;</button>
            <button class="btn btn-success mr-3"
                    v-else
                    @click="toggleTodo">&times;</button>
            <button class="btn btn-danger"
                    @click="deleteTodo">Hapus</button>
        </div>
    </li>
</template>

<script>
    export default {
        name: 'TodoItems',
        props: [
            'item'
        ],
        methods: {
            toggleTodo() {
                this.$emit('toggleTodo', this.item);
            },
            deleteTodo() {
                this.$emit('deleteTodo', this.item);
            }
        },
        computed: {
            isDone() {
                if(this.item.done) {
                    return 'text-decoration: line-through;';
                } else {
                    return '';
                }
            }
        }
    }
</script>